/* ----------------------------------------------------
 * Colors
 * ---------------------------------------------------- */

/** @group color */
$color-border: #ccc;

/** @group color */
$color-list-hover: #ddd;

/** @group color */
$color-list-selected: #efefef;