/* basics */
* {
    box-sizing: border-box;
}

input,
select,
body,
html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: green;
}

a:focus,
a:hover {
    text-decoration: none;
}

a:focus {
    color: darkgreen;
    outline: none;
}

small {
    display: block;
    padding: 10px 0;
    color: #666;
}

em {
    display: inline-block;
    margin: 0 5px;
    font-style: normal;
    color: green;
}

section + section {
    margin-top: 2em;
}


/* site layout */
body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

header,
footer,
.wrap {
    padding: .5em 1em;
}

main {
    flex: 1;
}

.wrap {
    display: flex;
    flex: 1;
}


/* head & foot */
footer,
header {
    text-align: center;
    background-color: green;
    color: #fff;
}


/* header */
header {
    font-size: 1.5em;
}


/* navigation */
nav {
    flex: 0 0 12em;
    padding-right: 1em;
    order: -1;
}

nav h2 {
    text-indent: -9999em;
    font-size: 0;
}

nav > ol {
    margin-top: 2em;
    padding-left: 20px;
}

nav li + li {
    margin-top: 3px;
}

nav > ol > li + li {
    margin-top: 15px;
}

nav > ol ol {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 15px;
    font-size: .8em;
}


/* footer */
footer {
    font-size: .75em;
}

footer a {
    color: #fff;
}

footer ul {
    margin: 0;
    padding-left: 0;
}

footer li {
    display: inline-block;
}

footer li + li {
    margin-left: 10px;
}


/* demo stuff */
[type="text"] {
    display: block;
    margin-top: .5em;
    width: 300px;
}

[type="text"][disabled] {
    background-color: #ddd;
    border: 1px solid #aaa;
}

[class^="lang-"]:before {
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    padding-top: 1px;
    width: 16px;
    height: 12px;
    font-size: 9px;
    content: attr(data-value);
    text-align: center;
    background-color: #ccc;
    color: #fff;
}

[class="lang-de"]:before {
    background-color: red;
}

[class="lang-fr"]:before {
    background-color: blue;
}

[class="lang-es"]:before {
    background-color: yellow;
}

[class="lang-it"]:before {
    background-color: green;
}

[class="lang-nl"]:before {
    background-color: orange;
}
