.demo {
  margin-bottom: 15px;
}

ul.demos {
  margin-left: 0;
  list-style-type: none;
  counter-reset: demos;

  > li {
    counter-increment: demos;
    counter-reset: subDemos;
  }

  h3,
  h2 {
    &:before {
      @include single-transition(opacity, .3s);
      margin-right: 10px;
      opacity: .25;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  h2:before {
    position: absolute;
    right: 100%;
    content: counter(demos);
  }

  h3:before {
    counter-increment: subDemos;
    content: counter(demos) '.' counter(subDemos);
  }
}
