@import 'compass';
@import 'breakpoint';


@import 'partials/**/*';


h2 {
  position: relative;
  margin-top: 3em;
  border-bottom: 1px solid #eee;

  > [rel="internal"] {
    color: #000;

    &:after {
      @include single-transition(opacity, .3s);
      margin-left: 5px;
      content: '\00B6';
      opacity: 0;
    }

    &:hover {
      text-decoration: none;

      &:after {
        opacity: .5;
      }
    }
  }
}

h3 {
  margin-top: 1em;
}
